<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DB_SAPMigrationEntities" connectionString="metadata=res://*/DB_SAPMIGRATIONModel.csdl|res://*/DB_SAPMIGRATIONModel.ssdl|res://*/DB_SAPMIGRATIONModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.230;initial catalog=DB_SAPMIGRATION;persist security info=True;user id=sa;password=mipassword;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SAPModelEntities" connectionString="metadata=res://*/SAPModel.csdl|res://*/SAPModel.ssdl|res://*/SAPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRVSBO;initial catalog=FE_SBO_SONEPAR;user id=sa;password=sa$2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FE_SBO_SONEPAREntities" connectionString="metadata=res://*/SAPModel.csdl|res://*/SAPModel.ssdl|res://*/SAPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.232;initial catalog=FE_SBO_SONEPAR;user id=sa;password=sa$2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SBO_REXEL882_FINALEntities" connectionString="metadata=res://*/SAPModel.csdl|res://*/SAPModel.ssdl|res://*/SAPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.232;initial catalog=   ;user id=sa;password=sa$2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="EnableSSL" value="true" />
    <add key="SmtpHost" value="smtp.office365.com" />
    <add key="SmtpPort" value="587" />
    <add key="mailFromAddress" value="sonepar_peru_sac@sonepar.pe" />
    <add key="mailFromPassword" value="Av1s0$2015$" />
    <add key="mailFromName" value="SONEPAR PERU SAC" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>